
input{
    background: rgb(211, 247, 129);
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
}

button {
    padding:4px 15px;
    border-radius: 50px;
    margin-left:10px; 
    cursor:pointer;
    font-size: 12px;
    font-weight: bold;
  }

form > div {
    padding:10px;
}