<section class="row">
  <div class="col-md-8 padded">
    <table class="table table-dark" id="table">
      <thead>
        <tr>
          <th scope="col" style="width:150px">#</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody id="table-body">
        <tr *ngFor="let user of userMap; let i = index;">
          <td scope="row">{{i+1}}</td>
          <td>
            <a>{{user.Phone_No}}</a>
          </td>
          <td>
            <div class="flex-h">
              <button class="material-icons" style="width: 40px; margin: 0 8px;" data-toggle="modal" data-target="#delete-alert"
                (click)="editUser(user, i)" title="See User Info">
                border_color
              </button>

              <button class="material-icons" style="width: 40px; margin: 0 8px;" data-toggle="modal" data-target="#message-alert"
                (click)="editUser(user)" title="Send Text Message">
                reply_all
              </button>

            </div>
          </td>

        </tr>
      </tbody>
    </table>
    <button id="create" class="btn" data-toggle="modal" data-target="#add-alert">
      <b> + </b>
    </button>
    <div class="modal fade" id="add-alert" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="color :black ;">Add New User </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="padded">
            <div class="padded flex-v" style="color:black;">
              First Name
              <input type="text" name="first" [(ngModel)]="nfirst">
            </div>
            <div class="padded flex-v" style="color:black;">
              Last Name
              <input type="text" name="second" [(ngModel)]="nlast">
            </div>
            Phone Number
            <input type="number" name="phone" [(ngModel)]="nphone">

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="add()" data-dismiss="modal">
                Add User
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="message-alert" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="color :black ;">Send Message to +91{{currentUser.Phone_No}} </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="padded">
            <textarea rows="4" cols="50" [(ngModel)]="textMessage">
              </textarea>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="send(user)" data-dismiss="modal">
                Send Message
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="delete-alert" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content" style="color:black;">
          <div class="modal-header">
            <h5 class="modal-title">Contact Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="flex-h">
            <div class="padded flex-v">
              First Name
              <input type="text" [readonly]="!editFlag" name="bday" [(ngModel)]="currentUser.First_Name">
            </div>
            <div class="padded flex-v">
              Last Name
              <input type="text" name="bday" [readonly]="!editFlag" [(ngModel)]="currentUser.Last_Name">
            </div>
          </div>
          <div>
            Phone Number
            <input type="number" name="phone" [readonly]="!editFlag" [(ngModel)]="currentUser.Phone_No">
          </div>
          <div class="padded">
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="editDetail()">Edit</button>
              <button type="button" class="btn btn-primary" *ngIf="editFlag" (click)="submit(user,i)"
                data-dismiss="modal">Save
                changes
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</section>